@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("@fontsource/poppins/files/poppins-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("@fontsource/poppins/files/poppins-latin-500-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("@fontsource/poppins/files/poppins-latin-600-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("@fontsource/source-serif-pro/files/source-serif-pro-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("@fontsource/source-serif-pro/files/source-serif-pro-latin-600-normal.woff2") format("woff2");
}

html {
  overflow-x: clip;
  color-scheme: light dark;
  /* scroll-behavior: smooth; */
}

*,
*::before,
*::after {
  border-radius: 0 !important;
}

::selection {
  background: var(--selection-bg);
  color: var(--selection-text);
}

::-moz-selection {
  background: var(--selection-bg);
  color: var(--selection-text);
}
